# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("C:/Users/jasmi/OneDrive/Documents/Pandas Challenge files/Starter_Code/PyCitySchools/Resources/schools_complete.csv")
student_data_to_load = Path("C:/Users/jasmi/OneDrive/Documents/Pandas Challenge files/Starter_Code/PyCitySchools/Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
school_count = school_data_complete['School ID'].nunique()

# Print the result
print(school_count)

15

In [3]:
# Calculate the total number of students
student_count = len(school_data_complete)
print(student_count)

39170

In [4]:
# Calculate the total budget
total_budget = school_data['budget'].sum()
print(total_budget)

24649428

In [5]:
# Calculate the average math score
average_math_score = school_data_complete['math_score'].mean()
print(average_math_score)

78.98537145774827

In [6]:

average_reading_score = school_data_complete['reading_score'].mean()

print(average_reading_score)

81.87784018381414

In [7]:

passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]


passing_math_percentage = passing_math_count / float(student_count) * 100


print(passing_math_percentage)

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]


passing_reading_percentage = passing_reading_count / float(student_count) * 100


print(passing_reading_percentage)

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [9]:
# Calculate the total number of schools
total_schools = school_data_complete["school_name"].nunique()

# Calculate the total number of students
total_students = school_data_complete["Student ID"].nunique()

# Calculate the total budget
total_budget = school_data["budget"].sum()

# Calculate the average math score
average_math_score = school_data_complete["math_score"].mean()

# Calculate the average reading score
average_reading_score = school_data_complete["reading_score"].mean()

# Calculate the percentage of students who passed math
passing_math_percentage = (school_data_complete["math_score"] >= 70).mean() * 100

# Calculate the percentage of students who passed reading
passing_reading_percentage = (school_data_complete["reading_score"] >= 70).mean() * 100

# Calculate the overall passing percentage (both math and reading)
overall_passing_percentage = ((school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)).mean() * 100

# Create the district summary DataFrame
district_summary = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "% Overall Passing": [overall_passing_percentage]
})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
print(district_summary)

   Total Schools Total Students    Total Budget  Average Math Score  \
0             15         39,170  $24,649,428.00           78.985371

   Average Reading Score  % Passing Math  % Passing Reading  % Overall Passing
0               81.87784       74.980853          85.805463          65.172326

## School Summary

In [10]:
# Use the code provided to select all of the school types
school_types = school_data["type"].unique()
print(school_types)

['District' 'Charter']

In [11]:
# Calculate the total student count per school
per_school_counts = school_data_complete.groupby("school_name").count()["Student ID"]
print(per_school_counts)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [12]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data.set_index("school_name")["budget"]

per_school_capita = per_school_budget / school_data.set_index("school_name")["size"]

print(per_school_budget)
print(per_school_capita)

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64
school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [13]:
# Calculate the average math score per school
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()

per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()

print(per_school_math)
print(per_school_reading)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [14]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]

school_students_passing_math = students_passing_math.groupby("school_name").count()["Student ID"]

print(students_passing_math)
print(school_students_passing_math)

       Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
8               8     Michael Roth      M  10th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
6                 82          80          0  District  2917  1910635
8                 95          87          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[29370 rows x 11 columns]
school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

In [15]:
# Filter the DataFrame to include only students with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]

# Calculate the number of students passing math per school
school_students_passing_math = students_passing_math.groupby("school_name").count()["Student ID"]

# Print the results
print(students_passing_math)
print(school_students_passing_math)

       Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
8               8     Michael Roth      M  10th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
6                 82          80          0  District  2917  1910635
8                 95          87          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[29370 rows x 11 columns]
school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

In [21]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [24]:
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_math_and_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [26]:
# Create the per_school_summary DataFrame
per_school_summary = pd.DataFrame({
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": overall_passing_rate
})


per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)


print(per_school_summary)

                       Total Students Total School Budget Per Student Budget  \
school_name
Bailey High School               4976       $3,124,928.00            $628.00
Cabrera High School              1858       $1,081,356.00            $582.00
Figueroa High School             2949       $1,884,411.00            $639.00
Ford High School                 2739       $1,763,916.00            $644.00
Griffin High School              1468         $917,500.00            $625.00
Hernandez High School            4635       $3,022,020.00            $652.00
Holden High School                427         $248,087.00            $581.00
Huang High School                2917       $1,910,635.00            $655.00
Johnson High School              4761       $3,094,650.00            $650.00
Pena High School                  962         $585,858.00            $609.00
Rodriguez High School            3999       $2,547,363.00            $637.00
Shelton High School              1761       $1,056,600.00            $600.00
Thomas High School               1635       $1,043,130.00            $638.00
Wilson High School               2283       $1,319,574.00            $578.00
Wright High School               1800       $1,049,400.00            $583.00

                       Average Math Score  Average Reading Score  \
school_name
Bailey High School              77.048432              81.033963
Cabrera High School             83.061895              83.975780
Figueroa High School            76.711767              81.158020
Ford High School                77.102592              80.746258
Griffin High School             83.351499              83.816757
Hernandez High School           77.289752              80.934412
Holden High School              83.803279              83.814988
Huang High School               76.629414              81.182722
Johnson High School             77.072464              80.966394
Pena High School                83.839917              84.044699
Rodriguez High School           76.842711              80.744686
Shelton High School             83.359455              83.725724
Thomas High School              83.418349              83.848930
Wilson High School              83.274201              83.989488
Wright High School              83.682222              83.955000

                       % Passing Math  % Passing Reading  % Overall Passing
school_name
Bailey High School          66.680064          54.642283          54.642283
Cabrera High School         94.133477          91.334769          91.334769
Figueroa High School        65.988471          53.204476          53.204476
Ford High School            68.309602          54.289887          54.289887
Griffin High School         93.392371          90.599455          90.599455
Hernandez High School       66.752967          53.527508          53.527508
Holden High School          92.505855          89.227166          89.227166
Huang High School           65.683922          53.513884          53.513884
Johnson High School         66.057551          53.539172          53.539172
Pena High School            94.594595          90.540541          90.540541
Rodriguez High School       66.366592          52.988247          52.988247
Shelton High School         93.867121          89.892107          89.892107
Thomas High School          93.272171          90.948012          90.948012
Wilson High School          93.867718          90.582567          90.582567
Wright High School          93.333333          90.333333          90.333333

## Highest-Performing Schools (by % Overall Passing)

In [27]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("% Overall Passing", ascending=False)

print(top_schools.head(5))

                     Total Students Total School Budget Per Student Budget  \
school_name
Cabrera High School            1858       $1,081,356.00            $582.00
Thomas High School             1635       $1,043,130.00            $638.00
Griffin High School            1468         $917,500.00            $625.00
Wilson High School             2283       $1,319,574.00            $578.00
Pena High School                962         $585,858.00            $609.00

                     Average Math Score  Average Reading Score  \
school_name
Cabrera High School           83.061895              83.975780
Thomas High School            83.418349              83.848930
Griffin High School           83.351499              83.816757
Wilson High School            83.274201              83.989488
Pena High School              83.839917              84.044699

                     % Passing Math  % Passing Reading  % Overall Passing
school_name
Cabrera High School       94.133477          91.334769          91.334769
Thomas High School        93.272171          90.948012          90.948012
Griffin High School       93.392371          90.599455          90.599455
Wilson High School        93.867718          90.582567          90.582567
Pena High School          94.594595          90.540541          90.540541

## Bottom Performing Schools (By % Overall Passing)

In [28]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("% Overall Passing", ascending=True)

# Display the top 5 rows
print(bottom_schools.head(5))

                       Total Students Total School Budget Per Student Budget  \
school_name
Rodriguez High School            3999       $2,547,363.00            $637.00
Figueroa High School             2949       $1,884,411.00            $639.00
Huang High School                2917       $1,910,635.00            $655.00
Hernandez High School            4635       $3,022,020.00            $652.00
Johnson High School              4761       $3,094,650.00            $650.00

                       Average Math Score  Average Reading Score  \
school_name
Rodriguez High School           76.842711              80.744686
Figueroa High School            76.711767              81.158020
Huang High School               76.629414              81.182722
Hernandez High School           77.289752              80.934412
Johnson High School             77.072464              80.966394

                       % Passing Math  % Passing Reading  % Overall Passing
school_name
Rodriguez High School       66.366592          52.988247          52.988247
Figueroa High School        65.988471          53.204476          53.204476
Huang High School           65.683922          53.513884          53.513884
Hernandez High School       66.752967          53.527508          53.527508
Johnson High School         66.057551          53.539172          53.539172

## Math Scores by Grade

In [29]:
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]


ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()


math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grader_math_scores,
    "11th": eleventh_grader_math_scores,
    "12th": twelfth_grader_math_scores
})

math_scores_by_grade.index.name = None

# Display the DataFrame
print(math_scores_by_grade)

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [30]:
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into a single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grader_math_scores,
    "11th": eleventh_grader_math_scores,
    "12th": twelfth_grader_math_scores
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
print(math_scores_by_grade)

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Scores by School Spending

In [31]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [32]:
 
school_spending_df = per_school_summary.copy()

In [35]:

school_spending_df["Per Student Budget"] = school_spending_df["Per Student Budget"].replace({'\$': '', ',': ''}, regex=True).astype(float)


spending_bins = [0, 585, 615, 645, 675]
spending_labels = ["<$585", "$585-614", "$615-644", "$645-674"]


school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins=spending_bins, labels=spending_labels)

# Display the DataFrame
print(school_spending_df)

                       Total Students Total School Budget  Per Student Budget  \
school_name
Bailey High School               4976       $3,124,928.00               628.0
Cabrera High School              1858       $1,081,356.00               582.0
Figueroa High School             2949       $1,884,411.00               639.0
Ford High School                 2739       $1,763,916.00               644.0
Griffin High School              1468         $917,500.00               625.0
Hernandez High School            4635       $3,022,020.00               652.0
Holden High School                427         $248,087.00               581.0
Huang High School                2917       $1,910,635.00               655.0
Johnson High School              4761       $3,094,650.00               650.0
Pena High School                  962         $585,858.00               609.0
Rodriguez High School            3999       $2,547,363.00               637.0
Shelton High School              1761       $1,056,600.00               600.0
Thomas High School               1635       $1,043,130.00               638.0
Wilson High School               2283       $1,319,574.00               578.0
Wright High School               1800       $1,049,400.00               583.0

                       Average Math Score  Average Reading Score  \
school_name
Bailey High School              77.048432              81.033963
Cabrera High School             83.061895              83.975780
Figueroa High School            76.711767              81.158020
Ford High School                77.102592              80.746258
Griffin High School             83.351499              83.816757
Hernandez High School           77.289752              80.934412
Holden High School              83.803279              83.814988
Huang High School               76.629414              81.182722
Johnson High School             77.072464              80.966394
Pena High School                83.839917              84.044699
Rodriguez High School           76.842711              80.744686
Shelton High School             83.359455              83.725724
Thomas High School              83.418349              83.848930
Wilson High School              83.274201              83.989488
Wright High School              83.682222              83.955000

                       % Passing Math  % Passing Reading  % Overall Passing  \
school_name
Bailey High School          66.680064          54.642283          54.642283
Cabrera High School         94.133477          91.334769          91.334769
Figueroa High School        65.988471          53.204476          53.204476
Ford High School            68.309602          54.289887          54.289887
Griffin High School         93.392371          90.599455          90.599455
Hernandez High School       66.752967          53.527508          53.527508
Holden High School          92.505855          89.227166          89.227166
Huang High School           65.683922          53.513884          53.513884
Johnson High School         66.057551          53.539172          53.539172
Pena High School            94.594595          90.540541          90.540541
Rodriguez High School       66.366592          52.988247          52.988247
Shelton High School         93.867121          89.892107          89.892107
Thomas High School          93.272171          90.948012          90.948012
Wilson High School          93.867718          90.582567          90.582567
Wright High School          93.333333          90.333333          90.333333

                      Spending Ranges (Per Student)
school_name
Bailey High School                         $615-644
Cabrera High School                           <$585
Figueroa High School                       $615-644
Ford High School                           $615-644
Griffin High School                        $615-644
Hernandez High School                      $645-674
Holden High School                            <$585
Huang High School                          $645-674
Johnson High School                        $645-674
Pena High School                           $585-614
Rodriguez High School                      $615-644
Shelton High School                        $585-614
Thomas High School                         $615-644
Wilson High School                            <$585
Wright High School                            <$585

In [36]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [37]:
spending_summary = school_spending_df.groupby("Spending Ranges (Per Student)").agg({
    "Average Math Score": "mean",
    "Average Reading Score": "mean",
    "% Passing Math": "mean",
    "% Passing Reading": "mean",
    "% Overall Passing": "mean"
})

# Display results
print(spending_summary)

                               Average Math Score  Average Reading Score  \
Spending Ranges (Per Student)
<$585                                   83.455399              83.933814
$585-614                                83.599686              83.885211
$615-644                                79.079225              81.891436
$645-674                                76.997210              81.027843

                               % Passing Math  % Passing Reading  \
Spending Ranges (Per Student)
<$585                               93.460096          90.369459
$585-614                            94.230858          90.216324
$615-644                            75.668212          66.112060
$645-674                            66.164813          53.526855

                               % Overall Passing
Spending Ranges (Per Student)
<$585                                  90.369459
$585-614                               90.216324
$615-644                               66.112060
$645-674                               53.526855

## Scores by School Size

In [40]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [41]:
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Use pd.cut to categorize schools based on the "Total Students" column
per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], bins=size_bins, labels=size_labels)

# Display the DataFrame with the "School Size" column added
print(per_school_summary)

                       Total Students Total School Budget Per Student Budget  \
school_name
Bailey High School               4976       $3,124,928.00            $628.00
Cabrera High School              1858       $1,081,356.00            $582.00
Figueroa High School             2949       $1,884,411.00            $639.00
Ford High School                 2739       $1,763,916.00            $644.00
Griffin High School              1468         $917,500.00            $625.00
Hernandez High School            4635       $3,022,020.00            $652.00
Holden High School                427         $248,087.00            $581.00
Huang High School                2917       $1,910,635.00            $655.00
Johnson High School              4761       $3,094,650.00            $650.00
Pena High School                  962         $585,858.00            $609.00
Rodriguez High School            3999       $2,547,363.00            $637.00
Shelton High School              1761       $1,056,600.00            $600.00
Thomas High School               1635       $1,043,130.00            $638.00
Wilson High School               2283       $1,319,574.00            $578.00
Wright High School               1800       $1,049,400.00            $583.00

                       Average Math Score  Average Reading Score  \
school_name
Bailey High School              77.048432              81.033963
Cabrera High School             83.061895              83.975780
Figueroa High School            76.711767              81.158020
Ford High School                77.102592              80.746258
Griffin High School             83.351499              83.816757
Hernandez High School           77.289752              80.934412
Holden High School              83.803279              83.814988
Huang High School               76.629414              81.182722
Johnson High School             77.072464              80.966394
Pena High School                83.839917              84.044699
Rodriguez High School           76.842711              80.744686
Shelton High School             83.359455              83.725724
Thomas High School              83.418349              83.848930
Wilson High School              83.274201              83.989488
Wright High School              83.682222              83.955000

                       % Passing Math  % Passing Reading  % Overall Passing  \
school_name
Bailey High School          66.680064          54.642283          54.642283
Cabrera High School         94.133477          91.334769          91.334769
Figueroa High School        65.988471          53.204476          53.204476
Ford High School            68.309602          54.289887          54.289887
Griffin High School         93.392371          90.599455          90.599455
Hernandez High School       66.752967          53.527508          53.527508
Holden High School          92.505855          89.227166          89.227166
Huang High School           65.683922          53.513884          53.513884
Johnson High School         66.057551          53.539172          53.539172
Pena High School            94.594595          90.540541          90.540541
Rodriguez High School       66.366592          52.988247          52.988247
Shelton High School         93.867121          89.892107          89.892107
Thomas High School          93.272171          90.948012          90.948012
Wilson High School          93.867718          90.582567          90.582567
Wright High School          93.333333          90.333333          90.333333

                              School Size
school_name
Bailey High School      Large (2000-5000)
Cabrera High School    Medium (1000-2000)
Figueroa High School    Large (2000-5000)
Ford High School        Large (2000-5000)
Griffin High School    Medium (1000-2000)
Hernandez High School   Large (2000-5000)
Holden High School          Small (<1000)
Huang High School       Large (2000-5000)
Johnson High School     Large (2000-5000)
Pena High School            Small (<1000)
Rodriguez High School   Large (2000-5000)
Shelton High School    Medium (1000-2000)
Thomas High School     Medium (1000-2000)
Wilson High School      Large (2000-5000)
Wright High School     Medium (1000-2000)

In [43]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

# Create the size_summary DataFrame
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

# Display the size_summary DataFrame
print(size_summary)

                    Average Math Score  Average Reading Score  % Passing Math  \
School Size
Small (<1000)                83.821598              83.929843       93.550225
Medium (1000-2000)           83.374684              83.864438       93.599695
Large (2000-5000)            77.746417              81.344493       69.963361

                    % Passing Reading  % Overall Passing
School Size
Small (<1000)               89.883853          89.883853
Medium (1000-2000)          90.621535          90.621535
Large (2000-5000)           58.286003          58.286003

## Scores by School Type

In [ ]:
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = 

# Display results
type_summary